fastapi[all]
sqlalchemy[asyncio]
aiomysql
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
structlog
colorama
langchain==1.2.15
langchain-openai
langchain-community==0.4.1
pymilvus==2.6.12
dashscope
httpx
sentence-transformers
volcengine-python-sdk[ark]
redis>=4.5.0
numpy>=1.21.0